
<div mat-dialog-content>
    <h1>Storing Values with the Assignment Operator</h1>
    <h3>In JavaScript, you can store a value in a variable with the assignment <br> operator (=).</h3>
    <pre>
        myVariable = 5;
    </pre>
    <p>This assigns the Number value 5 to myVariable.</p>
    <p>If there are any calculations to the right of the = operator, those are performed<br> 
        before the value is assigned to the variable on the left of the operator.
    </p>
    <pre>
        var myVar;
        myVar = 5;  
    </pre>
    <p>First, this code creates a variable named myVar. Then, the code assigns 5 to myVar.<br> Now, if myVar appears again in the code, the program will treat it as if it is 5.</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
</div>
