
<div mat-dialog-content>
    <h1>What are Variables?</h1>
    <h3>Variables are containers for storing data (storing data values).</h3>
    <p>In this example, x, y, and z, are variables, declared with the let keyword:</p>
    <pre>
        let x = 5;
        let y = 6;
        let z = x + y;
    </pre>
    <h1>What is an Array</h1> 
    <h3>An array is a special variable, which can hold more than one value:</h3>
    <h4>How to create an Array</h4>
    <h5>(Syntax):</h5>
    <pre>
        let array_name = [item1, item2, ...];  
    </pre>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
</div>
